<!-- <div class="center hero-unit">
	<h1>This is the home page</h1>
	<p>
		This is the home checkin page.
	</p>
	<%= link_to "Hold an event now!", '#', class:"btn btn-large btn-primary" %>
</div> -->

<div data-role="page"> 
	<div data-role="header"><h1>Check in!</h1></div> 
	<div data-role="content"><center><div id="time">yaya</div></center></div> 
	<div data-role="footer"><h4>This is Footer</h4>`</div> 
</div>

<%= javascript_include_tag "test" %>