// h1 {
// 	font-size: 3em;
// 	letter-spacing: -2px;
// 	margin-bottom: 30px;
// 	text-align: center;
// }

.a_page {
	//margin: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#radius_display_block {
	font-family: 'Milonga', cursive;
	margin-bottom: 5px;
	font-size: 20px;
}

#messages_container { height: 300px; overflow: auto; border: 0px solid #666; padding: 20px; background: white; font: 12px "Lucida Grande"; }
#messages_container span { text-shadow: 0 0 0; color: white; background: #333; padding: 4px 8px; -moz-border-radius: 5px; -webkit-border-radius: 8px; margin: 0 5px 0 0; }
#messages_container p { padding: 8px 0; border-bottom: 1px solid #ccc; }


#name-area { position: absolute; top: 12px; right: 0; color: white; font: bold 12px "Lucida Grande", Sans-Serif; text-align: right; }   
#name-area span { color: #fa9f00; }