<div data-role="page" data-title="Home">
	<div data-role="header" data-theme="b" >
		<h1>Welcome</h1>
	</div>
	<div data-role="content">	
		<h1><%= session[:name] %></h1>	
	</div>
	<div data-role="footer" data-theme="b">
		<h1>Inf 241 2012 Fall</h1>
	</div>
</div>




