<script>
navigator.geolocation.getCurrentPosition(function(position){}, function(){});
</script>

<div data-role="page" data-title="Home">
	<div data-role="header" data-theme="b" data-position="fixed">
		<a href="/login" data-iconpos="notext" data-icon="home"></a>
		<h1>Hello Pumpkins!</h1>
	</div>
	<div data-role="content" data-theme="b" class="a_page">
		<%= form_for(:member, url: '/enter', html: {id: 'middle'}) do |f| %>
			<%= f.label "Enter your name:" %>
			<%= f.text_field :name %>
			<%= f.submit "Login" %>
		<% end %>
		<br><center><p>Hello Pumpkins is a web application that enables you to see who's around you, with a map visualization, a list, and a location-based chatting room. Login with different devices to try!</p></center>
	</div>
	<div data-role="footer" data-theme="b" data-position="fixed">
		<h1>Ubicomp Fall 2012</h1>
	</div>
</div>